# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environment and dependency files
.env
.env.*
*.env

# Logs
logs/
*.log


# OS files
.DS_Store
Thumbs.db

# Pytest cache
.pytest_cache/
.cache/
.coverage

#Used for references
notebooks/